{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{footer_enabled=False}}
{{extend 'layout.html'}}
<table class="movimiento">
 <tbody>
 <tr>
 <td colspan="4"><p><b>Entidad:</b> DPTO. LOG Y SERVICIOS</p></td>
   <td colspan="2"><p><b>Código:</b></p></td>
   <td rowspan="3" colspan="3"><p style="text-align:center"><strong>SC-1-01<br>MOVIMIENTO DE ACTIVOS FIJOS</strong></p></td>
 </tr>

 <tr>
  <td colspan="6"><p><b>Dirección:</b> CALLE MILANES/AYUNTAMIENTO Y JOVELLANOS</p></td>
 </tr>

 <tr>
  <td colspan="6"><p><b>Área:</b> 43SE080002 - 104</p></td>
 </tr>

 <tr><td colspan="9"><p><b>Descripción:</b> NAVE SAN JUAN DE DIOS /TIRRY Y</p></td></tr>

 <tr>
  <td colspan="4"><p><b>Fecha Operación</b></p></td>
  <td colspan="4"><p><b>Valor</b></p></td>
  <td colspan="1" rowspan="2"><p><b>Depreciación<br>MN:</b> s</p></td>
 </tr>

<tr>
 <td colspan="1" class="fecha"><p><b>D</b></p></td>
 <td colspan="1" class="fecha"><p><b>M</b></p></td>
 <td colspan="2" class="fecha"><p><b>A</b></p></td>
 <td colspan="2"><p><b>MN:</b> 17,530.84</p></td>
 <td colspan="2"><p><b>ME:</b> 1,202.90</p></td>
</tr>

 <tr>
  <td colspan="1"><p></p></td>
  <td colspan="1"><p></p></td>
  <td colspan="2"><p>28.02.1996</p></td>
  <td colspan="4"><p><b>No. Inmovilizado</b></p></td>
  <td colspan="1" rowspan="2"><p><b>ME:</b></p></td>
 </tr>

 <tr>
  <td colspan="4">
   <p><b>No. Inventario:</b> 08_240_003224</p>
  </td>
  <td colspan="2">
   <p><b>MN: </b>100000903</p>
  </td>
  <td colspan="2">
   <p><b>ME:</b> 100000827</p>
  </td>
 </tr>

 <tr>
  <td colspan="4" rowspan="3">
   <p style="text-align:center"><b>RECEPTOR</b></p>
  </td>
  <td colspan="3">
   <p><b>Entidad:</b> Baja</p>
  </td>
  <td colspan="2">
   <p><b>Nombre y Apellidos:</b></p>
  </td>
 </tr>

  <tr>
  <td colspan="3"><p><b>Direción:</b></p></td>
  <td colspan="2"><p><b>Firma:</b></p></td>
 </tr>

 <tr>
  <td colspan="3"><p><b>Área:</b></p></td>
  <td colspan="2"><p><b>Fecha:</b></p></td>
 </tr>

 <tr>
   <td colspan="5">
    <p style="text-align:center"><b>Tipo de Movimiento</b></p>
    <table>
     <tbody><tr>
      <td><p><span class="caja"></span>Compra (altas)</p></td>
      <td><p><span class="caja"></span>Venta</p></td>
      <td><p><span class="caja"></span>Pérdidas</p></td>
     </tr>
     <tr>
      <td><p><span class="caja"></span>Traslado interno</p></td>
      <td><p><span class="caja"></span>Ajuste Inv. Baja</p></td>
      <td><p><span class="caja"></span>Ocioso-Activo</p></td>
     </tr>
     <tr>
      <td><p><span class="caja"></span>Enviado a reparar</p></td>
      <td><p><span class="caja"></span>Ajuste Inv. Alta</p></td>
      <td><p><span class="caja"></span>Activo- Ocioso</p></td>
     </tr>
     <tr>
      <td><p><span class="caja"></span>Alquiler</p></td>
     </tr>
    </tbody></table>

   </td>
   <td colspan="4">
    <p style="text-align:center"><b>Fundamentación de la Operación</b></p>

   </td>
  </tr>

 <tr>
  <td colspan="9">
   <p style="text-align:center"><b>INFORME TÉCNICO</b></p>
  </td>
 </tr>

 <tr>
  <td colspan="3"><p><b>Nombre:</b></p></td>
  <td colspan="3"><p><b>Cargo:</b></p></td>
  <td colspan="3"><p><b>Firma:</b></p></td>
 </tr>

 <tr>
   <td colspan="2" class="nombres"><p><b>Hecho por:</b></p></td>
   <td class="fecha"><p><b>D</b></p></td>
   <td class="fecha"><p><b>M</b></p></td>
   <td class="fecha"><p><b>A</b></p></td>
   <td class="nombres"><p><b>Aprobado por:</b></p></td>
   <td class="fecha"><p><b>D</b></p></td>
   <td class="fecha"><p><b>M</b></p></td>
   <td class="fecha"><p><b>A</b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Nombre:</b> realiza</p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b>Nombre:</b> aprueba</p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Cargo:</b> realiza</p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td><p><b>Cargo:</b> aprueba</p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
  </tr>

 <tr>
  <td colspan="2"><p><b>Firma:</b> realiza</p></td>
  <td><p><b>Firma:</b> aprueba</p></td>
 </tr>


 <tr>
   <td colspan="2"><p><b>Autorizado por:</b></p></td>
   <td><p><b>D</b></p></td>
   <td><p><b>M</b></p></td>
   <td><p><b>A</b></p></td>
   <td><p><b>Anotado por:</b></p></td>
   <td><p><b>D</b></p></td>
   <td><p><b>M</b></p></td>
   <td><p><b>A</b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Nombre:</b> autoriza</p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b>Nombre:</b> anota</p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Cargo:</b> autoriza</p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td><p><b>Cargo:</b> anota</p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
   <td rowspan="2"><p><b></b></p></td>
  </tr>

 <tr>
  <td colspan="2"><p><b>Firma:</b> autoriza</p></td>
  <td><p><b>Firma:</b> anota</p></td>
 </tr>

 <tr>
   <td colspan="2"><p><b>Transportador o Receptor:</b></p></td>
   <td><p><b>D</b></p></td>
   <td><p><b>M</b></p></td>
   <td><p><b>A</b></p></td>
   <td><p><b>No. De Comprobante:</b></p></td>
   <td><p><b>D</b></p></td>
   <td><p><b>M</b></p></td>
   <td><p><b>A</b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Nombre:</b></p></td>
   <td><p><b></b></p></td>
  <td><p><b></b></p></td>
   <td><p><b></b></p></td>
   <td>
    <table style="width:100%">
     <tbody><tr><td style="border-right:solid 1px black !important"></td> <td>&nbsp;</td></tr>
    </tbody></table>
   </td>
   <td><p></p></td>
   <td><p><b></b></p></td>
   <td><p><b></b></p></td>
  </tr>

  <tr>
   <td colspan="2"><p><b>Licencia de Conducción:</b></p></td>
   <td rowspan="2"><p></p></td>
   <td rowspan="2"><p></p></td>
   <td rowspan="2"><p></p></td>
   <td rowspan="2" colspan="4"><p><b>No. Consecutivo:</b></p></td>
  </tr>

 <tr>
   <td colspan="2"><p><b>Firma:</b></p></td>
  </tr>

 </tbody>
</table>

<style>
table table td{border:0 !important;padding:0 .2em 0 .2em}
table.movimiento td{border:solid 1px black;padding:0 .2em 0 .2em}
table td p{font-size: 9.0pt;
font-family: "Times New Roman","serif";}
span.caja{
 margin-right:2px;
 border: solid 1px black;
 width: 1em;
 height: 1em;
 display: inline-block;}
 .fecha{width:50px}
 .nombres{width:200px}
</style>
